body{
    margin: 0;
    background-color: #ffffff;
    background-image: url(http://demo.snstheme.com/sns-avaz/skin/frontend/sns_avaz/default/images/pattern/pattern_10.png);
    background-attachment: fixed;
    background-repeat: repeat;
    
}
#search{
    padding: 7px 7px;
}
.form-button{
    background: #3f3f3f;
    color: #fff;
    border: none;
}
.tongle{
    margin: 0 30px;
}
#icon-header{
    padding: 10px 400px;
}
#search-form{
    margin: 20px 100px;
}
.menu{
    border-right: 1px #f1f1f1 solid; 
}
.menu p{
    font-size: 34px;
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 30px;
}
.logo{
    padding-top: 22px;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px #f1f1f1 solid; 
}
.header{
    background: #ffff;
}
.Shop-disscounts{
    padding: 0 20px;
}
.blog-content{
    padding-top: 30px;
    padding-bottom: 50px;
}
#read-more1{
    text-decoration: none;
    color: #8e8e8e ;
}
#read-more2{
    text-decoration: none;
    color: #8e8e8e ;
}
#read-more3{
    text-decoration: none;
    color: #8e8e8e ;
}
.author{
    float: left;
}
.comment{
    display: inline-block;
    margin-left: 61px;
}
.readmore{
    margin-left: 61px;
    display: inline-block;
}
.post-info{
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    color: #8e8e8e;
    font-size: 12px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 10px 10px;
}
.block-latestblog .navslider{
    margin-top:10px;
}
.from-blog{
    padding: 0 20px;
}
#btn-blog1{
    margin-left: 80%;
    width: 31px;
    height: 31px;
    border: none;
    background: #f2f2f2;
}
.content-bottom h5:hover{
   color:  #fe7522;
}
#btn-blog1:hover{
    background: #3f3f3f;
}
#btn-blog2{
    width: 31px;
    height: 31px;
    border: none;
    background: #f2f2f2;
}
#btn-blog2:hover{
    background: #3f3f3f;
}
.block-latestblog .blog-title p{
    float: left;
    font-size: 24px;
    font-weight: 300;
    margin: 3px;
    text-transform: uppercase;
}
.block-latestblog .blog-title{
    border-bottom: 1px solid #efefef;
    margin-bottom: 0;
    overflow: hidden;
    padding-bottom: 13px;
    position: relative;
}
.top-clients .content-img .img-name .name{
    border-radius: 50%;
    margin-bottom: 15px;
}
.img-name{
    padding-bottom: 40px;
}
.top-clients .content-clients .title-clients p{
    font-weight: bold;
    font-size: 50px;
}
.top-clients {
    padding-top: 40px;
    color: #fff;
}
.clients-say {
    margin: 30px 0;
    background: url(../images/clients/bg_cliens.jpg) no-repeat;
    text-align: center;
}
.icon-disscounts ul li{
    margin: 0 7px;
}
.icon-disscounts ul{
    margin: 10px 0;
    display: flex;
    list-style: outside none none;
}
.icon-disscounts {
    margin: 0 38%;
    position: relative;
    overflow: hidden;
}
.other .content-discounts>h2{
    font-weight: bold;
    font-size:30px;
}
.other{
    background: #f5f5f5;
    color: #3f3f3f;
    text-align: center;
}
.brand{
    background: #f5f5f5;
     color: #3f3f3f;
    text-align: center;
}
.brand .content-discounts>h2{
    font-weight: bold;
    font-size:30px;
}
.button-sh{
    background: #f5f5f5;
    color: #575555;
    width: 170px;
    height: 40px;
    border: 1px #ffff solid;
}
.button-sh:hover{
    background: #3f3f3f none repeat scroll 0 0;
    color: #ffff;
    width: 170px;
    height: 40px;
}
.show-button:hover {
  background: #3f3f3f none repeat scroll 0 0;
  color: #ffff;
}
.show-button {
  background: #ffff;
  color: #7f7f7f;
  width: 170px;
  height: 40px;
  margin-right: 44%;
  margin-left: 44%;
  margin-bottom: 40px;
  border: 1px #cacaca solid;
}
.logo-footer{
    padding: 20px 20px;
    background: rgb(247, 245, 245);
}
#img-logo1{
  margin-left: 26px;
  margin-right: 20px;
}
#img-logo2{
    margin-left: 26px;
    margin-right: 20px;
}
#img-logo3{
    margin-left: 26px;
    margin-right: 20px;
}
#img-logo4{
    margin-left: 26px;
    margin-right: 20px;
}
#img-logo5{
    margin-left: 26px;
    margin-right: 20px;
}
#img-logo6{
    margin-left: 26px;
    margin-right: 20px;
}
#footer-top .column2 .info {
    margin-top: 23px;
}
#footer-top .column4 .contact-us {
    margin-top: 25px;
    margin-bottom: 10px;
}
#footer-top a{
    color: #d8d8d8;
    text-decoration: none;
}
#footer-top .column2 li::after{
    bottom: 0;
    content: ".";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50% 0;
    transition: all 0.5s ease 0s;
    z-index: -1;
}
#footer-top .column2 li:hover {
    background: #333 none repeat scroll 0 0;
    padding-left: 20px;
}
#footer-top ul {
    list-style:  none;
    margin-left: 15px;
    padding: 0;
}
#footer-top .column2 li:before {
    content: ".";
    font-size: 21px;
    left: 367px;
    position: absolute;
    transition: all 0.25s ease 0s;
}
#footer-top .column2 ul li{
    line-height: 30px;
}
#footer-top .column2 li a{
    color: #d8d8d8;
    text-decoration: none;
    display: block;
}
.quote {
    margin-top: 30px;
}
.wrap::after {
    content: " ";
    display: table;  
}
.wrap::before{
    content: " ";
    display: table;
}
#footer-top{
    padding-top: 40px;
    padding-left: 35px;
    background: #3f3f3f none repeat scroll 0 0;
    color: #d8d8d8;
    font-size: 92.85%;
    line-height: 20px;
    position: relative;
}
.h2, h2 {
    font-size: 2rem;
    font-size: 24px;
    font-weight: 300;
}
.text-end{
    margin-left: 65%;
}
.price {
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom:20px;
}
.price>p {
    color: #fe7522;
    margin-left: 35px;
    margin-top: 0%;
}
.price>h6 {
    font-size: 16px;
    font-weight: 100;
}
.price-sellers{
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom:20px;
}
.title-product:hover{
    color: #fe7522;
}
.title-product{
    margin: 10px;
}
.product{
    padding-top: 40px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #f5f5f5;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #d86a28;
}

.menu-right {
    margin-left: 399%;
    display: flex;
}

.header-tools {
    padding-left: 200px;
    padding-top: 15px;
    display: flex;
}
.contact-icon{
    list-style: none;
    margin-left: -30px;
}
.contact-icon li{
    margin-bottom: 10px;
}
.product-new .item-img{
    position: relative;
}
.product-image {
    display: block;
    overflow: hidden;
}
.ico-product.ico-new:before {
    border-color: #009788 transparent transparent;
    border-style: solid;
    border-width: 10px 25.5px 0;
    bottom: -10px;
    content: "";
    left: 0;
    position: absolute;
}
.ico-product.ico-new {
    background:#009788;
    color: #ffff;
    display: inline-block;
    font-size: 13px;
    height: 31px;
    line-height: 31px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 51px;
}
.top-product{
  padding: 5px 20px;
  background: #ffff;

}
.top-product .product-header{
    margin-top: 30px;
    display: flex;
    border-bottom: 1px #efefef solid;
}
.product-sellers{
    padding: 0 17px;
    padding-bottom: 10px;
    background: #ffff;
}
.product-sellers .sellers-product{
    display: flex;
    border-bottom: 1px #efefef solid;
}
#footer-top .column4 .follow {
    border-top: 1px solid #525252;
    padding-top: 27px;
    display: flex;

}

.social ul{
    list-style: none;
    display: flex;
    margin-left: -30px;
}
.social ul li{
    margin-left: 10px;
    
}
#footer-bottom .payment-logo {
    text-align: right;
}
#footer-bottom {
    background: #3f3f3f none repeat scroll 0 0;
    border-top: 1px solid #525252;
    color: #d8d8d8;
    font-size: 14px;
    padding: 8px 0;
}
#footer-bottom a {
    color: #fe7522;
}
.email-header {
    position: absolute;
    right: 0;
    color: #fff;
    top: 0;
    padding: 13px 30px;
}
.email-header a:hover {
    text-decoration: underline;
}
.email-header a {
    margin-right: 8px;
    color: #f5f5f5;
    text-decoration: none;
}
.email-header i {
    font-size: 11px;
    vertical-align: middle;
}
.type-new{
    margin-left: 20px;
    margin-bottom: 20px;
}
.type-sellers{
    margin-left: 20px;
}
.form-button{
    padding: 0 15px;
}
@media (max-width:768px){
    
}
